<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <input type="text" name="username" placeholder="username" [(ngModel)]="model.username"/>
        <input type="password" name="password" placeholder="password" [(ngModel)]="model.password"/>
        <button type="submit">login</button>
      </form>
    </div>
  </div>